<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>#SL</th>
                                <th>Account Name</th>
                                <th>Debit</th>
                                <th>Credit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(locals.data) {for(var i=0; i<data.length; i++){%>
                                <tr>
                                    <td><a href="javascript: void(0);" class="text-body fw-bold"><%=data[i].sl%></a> </td>
                                    <td><%=data[i]['chartOfAccount.name']%></td>
                                    <td><%=data[i].debit%></td>
                                    <td><%=data[i].credit%></td>
                                </tr>
                            <%}}%>

                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive -->
            </div>
        </div>
    </div>
</div>