
<body class="authentication-bg">
    <div class="account-pages my-5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="card">
                        <div class="row" style="margin-top: 10px; pointer-events: none;" >
                            <div class="text-center mt-2 row">
                                <div class="col-md-6">
                                    <img src="/public/assets/images/bim-login-logo.png" alt="" height="100"
                                            class="logo logo-dark" style="margin: auto;">
                                </div>
                                <div class="col-md-6">
                                    <img src="/public/assets/images/giz-logo.jpg" alt="" height="100"
                                            class="logo logo-dark" style="margin: auto;">
                                </div>
                                <div class="col-md-12 mt-3">
                                    <img src="/public/assets/images/eAcPro.png" alt=""
                                            class="logo logo-dark" style="margin: auto; max-width: 70%;">
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <div class="p-2">
                                <form method="post" autocomplete="off">
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Username</label>
                                        <input type="text" class="form-control" id="username" name="username"
                                            placeholder="Enter username">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="userpassword">Password</label>
                                        <input type="password" class="form-control" id="userpassword" name="password"
                                            placeholder="Enter password">
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="showPassword">
                                        <label class="form-check-label" for="auth-remember-check">Show Password</label>
                                    </div>
                                    <div class="mt-3 text-end">
                                        <button class="btn btn-primary w-sm waves-effect waves-light" type="submit">Log
                                            In</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2 text-center">
                        <p>©&nbsp;
                            2022&nbsp;<%= typeof orgName=='undefined' ? 'N/A' : orgName%>.
                            </br> 
                            Developed & Maintained by <a href="<%= typeof devOrgLink=='undefined' ? '#' : devOrgLink %>" target="_blank"
                                class="text-reset"><span
                                    style="color: #fd7014;"><%= typeof devOrgName=='undefined' ? 'N/A' : devOrgName %>.</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(window).on('load', function () {
            $("#showPassword").click(function () {
                if ($("#userpassword").attr('type') === "password") {
                    $("#userpassword").attr('type', 'text')
                } else {
                    $("#userpassword").attr('type', 'password')
                }
            });
        });
    </script>
</body>