<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0">Income Statement</h4>


    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="printDiv">
      <div class="card-body">
        <input id='radio-1' data-tooltip='first level' name='test' type='radio' style="display: none;" /><label
          style="display: none;" for="radio-1">First level</label>
        <input checked id='radio-2' data-tooltip='second level' name='test' type='radio' style="display: none;" /><label
          style="display: none;" for="radio-2">Second level</label>
        <input id='radio-3' data-tooltip='third level' name='test' type='radio' style="display: none;" /><label
          style="display: none;" for="radio-3">Third level</label>

        <div class="row">
          <form class="repeater validate-this-form row" method="post" action="/report/income-statement-data" area="incomeStatementDiv">
            <div class="col-md-5">
              <div class="mb-3 row">
                <label for="date" class="col-md-4 col-form-label" style="margin: auto;">From Date</label>
                <div class="col-md-8" id="datepicker1" >
                  <div class="input-group" id="datepicker2" data-validate="From Date is required">
                    <!-- <input class="form-control validate_this" placeholder="Date" type="date" name="date" id="date" value="<%= typeof model!='undefined' ? model.date : '' %>"> -->
                    <input style="margin: auto;" type="text" class="form-control validate_this" placeholder="From Date"
                      data-date-format="mm/dd/yyyy" data-date-container='#datepicker2' data-provide="datepicker"
                      data-date-autoclose="true" autocomplete="off" name="fromDate" id="fromDate"
                      value="<%= typeof model!='undefined' ? model.date : locals.todayDate %>">

                    <!-- <span class="input-group-text"><i class="mdi mdi-calendar"></i></span> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="mb-3 row">
                <label for="date" class="col-md-4 col-form-label" style="margin: auto;">To Date</label>
                <div class="col-md-8" id="datepicker1">
                  <div class="input-group" id="datepicker2" data-validate="To Date is required">
                    <!-- <input class="form-control validate_this" placeholder="Date" type="date" name="date" id="date" value="<%= typeof model!='undefined' ? model.date : '' %>"> -->
                    <input style="margin: auto;" type="text" class="form-control validate_this" placeholder="To Date"
                      data-date-format="mm/dd/yyyy" data-date-container='#datepicker2' data-provide="datepicker"
                      data-date-autoclose="true" autocomplete="off" name="toDate" id="toDate"
                      value="<%= typeof model!='undefined' ? model.date : locals.todayDate %>">

                    <!-- <span class="input-group-text"><i class="mdi mdi-calendar"></i></span> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" type="submit" style="float: right; margin-top: 10px;">See Report</button>
            </div>
          </form>
        </div>
      </br>
        <div class="incomeStatementDiv">
        </div>
      </div>
      <!-- <button type="button" class="btn btn-sm waves-effect waves-light" onclick="printFunction('printDiv')">
              <i class="fa fa-fw fa-bars"></i>
          </button> -->
    </div>
  </div>
</div>
<!-- end row -->

<script src="/public/assets/js/custom-validation.js"></script>
<script>
  $(function () {
    loadPartial('/report/income-statement-data', '.incomeStatementDiv',false,'POST',false,false);
  });
</script>